@font-face {
	font-family: "Icons";
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
		url('../fonts/Icons.woff') format('woff'),
		url('../fonts/Icons.ttf') format('truetype'),
		url('../fonts/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-github:before {
	content: "\E001";
}

.icon-twitter:before {
	content: "\E002";
}
